html {
  background-color: aqua;
}



.chosen {
  transform: scale(1.5);
}

img {
  height: 130px;
  width: 130px;
}

/*centering play screen*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*layout*/
.gameScreen {
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerChoices, .computerChoices {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.score {
  font-size: 80px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img:hover {
  transform: scale(1.5);
}

.hideGame {
  display: none;
}

.title {
  font-size: 100px;
  color: #60a3bc;
}

.playButton {
  width: 200px;
  height: 75px;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 30px;
	border: none;
	transition: all 0.4s ease 0s;
}

.playButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}